<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Demande</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">New Demande</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/demandes/add}" th:object="${demande}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Type Franchise</label>
                                
               						<select th:field="*{typeFranchise}">
           								<option th:each="typeFranchise : ${selectTypes}" 
           									th:value="${typeFranchise.getIdType()}" 
           									th:text="${typeFranchise.getCode()}" />
        							</select>
        						
                            </div>
                              <div class="form-group col-md-6">
                                <label for="motif" class="col-form-label">Motif</label>
                                <input type="text" th:field="*{motif}" class="form-control" id="motif" placeholder="Motif">
                               
                            </div>
                            <div class="form-group col-md-6">
                                <label for="path" class="col-form-label">Cuo</label>
                                <select th:field="*{fcuo}">
           								<option th:each="cuo : ${selectCuos}" 
           									th:value="${cuo.getIdCuo()}" 
           									th:text="${cuo.getNom()}" />
        						</select>
                                                              
                            </div>
                            <div class="form-group col-md-6">
                                <label for="path" class="col-form-label">Requerant</label>
                                  <select th:field="*{requerant}">
           								<option th:each=" requerant: ${selectRequerants}" 
           									th:value="${requerant.getIdRequerant()}" 
           									th:text="${requerant.getNom()}" />
        						</select>                           
                            </div>
                            <div class="form-group col-md-6">
                                <label for="path" class="col-form-label">Dossier</label>
                                  <select th:field="*{dossier}">
           								<option th:each=" dossier: ${selectDossiers}" 
           									th:value="${dossier.getIdDossier()}" 
           									th:text="${dossier.getNom()}" />
        						</select>                               
                            </div>
                            <div class="form-group col-md-6">
                                <label for="path" class="col-form-label">Marchandise</label>
                                     <select th:field="*{marchandise}">
           								<option th:each=" marchandise: ${selectMarchandises}" 
           									th:value="${marchandise.getIdMarchandise()}" 
           									th:text="${marchandise.getNom()}" />
        						</select>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Add Demande">
                            </div>
                        </div>    
                    </form>            
                      
                </div>
            </div>
        </div>
    </body>
</html>