<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Authentification</title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </section>
</div>
<h2>Custom Login Page</h2>
					<form th:action="@{/}" method="post">
						<label for="username">Username</label>: <input type="text"
							id="username" name="username" autofocus="autofocus" /> <label
							for="password">Password</label>: <input type="password" id="password"
							name="password" /><input type="submit" value="Log in" />
					</form>

</body>
</html>