<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template1}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Page secretaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<!-- historique attribution -->
<div layout:fragment="content">
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                 <div th:switch="${attributions}" class="container my-5">
                 
                 
                 <p class="my-5">
                        <h2>List demande</h2>
                    </p>
                 <table class="table table-striped table-responsive-md">
	                                <thead>
	                                    <tr>
	                                    <th>Motif</th>
	                                    <th>Type Franchise</th>
	                                       
	                                        <th>Cuo</th>
	                                        <th>Requerant</th>
	                                         <th>Dossier</th>
	                                        <th>Marchandise</th>
	                                        <th>Etat Demande</th>
	                                        <th>Date de depot</th>
	                                        <th>Agent dedier</th>
	                           
	                                        <th>Edit</th>
	                                        <th>Delete</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr th:each="demande : ${demandes}">
	                                        <!--  </td>-->
	                                        <td th:text="${demande.motif}"></td>
	                                        <td th:text="${demande.getTypeFranchise().code}"></td>
	                                        <td th:text="${demande.getFcuo().nom}"></td>
	                                        <td th:text="${demande.getRequerant().nom}"></td>
	                                        <td th:text="${demande.getDossier().nom}">
	                                        <td th:text="${demande.getMarchandise().nom}">
	                                        <td th:text="${demande.etatDemande}"></td>
	                                        <td th:text="${demande.dateDepot}"></td>
	                                        <td th:text="${demande.getAgent().nom}"></td>
	                                        
	                                       
	                                        <td><a th:href="@{/demandes/edit/{id}(id=${demande.numeroDemande})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
	                                        <td><a th:href="@{/demandes/delete/{id}(id=${demande.numeroDemande})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
	                                    </tr>
	                                </tbody>
	                            </table>
                 
                    <p class="my-5">
                        <a href="/attributions/signup" class="btn btn-primary"><i
       class="fas fa-user-plus ml-2"> Add Attribution</i></a>
                    </p>
                    <h2>Historique</h2>
                    <div class="col-md-10">
                       <!--   <h2 th:if="${attributions} == null">No Attribution yet!</h2> -->
                        <div >
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                    	<th>Observation</th>
                                    	<th>Etat demande</th>                               
                                       <th>Agent detendeur</th>
                                        <th>Demande</th>
                                        
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="attribution : ${attributions}">
                                        <!--  </td>
                                        <td th:text="${attribution.getMotif().nom}"></td>-->
                                        <td th:text="${attribution.observation}">
                                        <td th:text="${attribution.etatDemande}">
                                        <td th:text="${attribution.agent.nom}">
                                        <td th:text="${attribution.getDemande().numeroDemande}">
                                        
                                        
                                       
                                        <td><a th:href="@{/attributions/edit/{id}(id=${attribution.idAttribution})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/attributions/delete/{id}(id=${attribution.idAttribution})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                         </div>
                      </div>
                  </div>
              </div>
        	</div>
    	</div>
    </div> 
    
</body>

</html>